<!-- <div class="app-container">

  <div *ngIf="!isIpSet" class="ip-screen">
    <h2>Set Server IP</h2>

    <input 
      type="text" 
      placeholder="Enter IP Address"
      [(ngModel)]="ipAddress"
    />

    <button (click)="setIp()">Save & Continue</button>
  </div>


  <div *ngIf="isIpSet" class="scanner-screen">

    <img src="assets\Scan.gif" alt="Scanner" class="scanner-img">

    <h2 class="scan-text">SCAN</h2>

  </div>

</div> -->




<div class="app-container">

  <div *ngIf="!isIpSet" class="ip-screen">
    <h2>Set Server IP</h2>

    <input 
      type="text" 
      placeholder="Enter IP Address"
      [(ngModel)]="ipAddress"
    />

    <button (click)="setIp()">Save & Continue</button>
  </div>

  <div *ngIf="isIpSet && !scanResult" class="scanner-screen">

    <button  (click)="resetIp()"  >Setting</button>

    <img src="assets/Scan.gif" alt="Scanner" class="scanner-img">

    <h2 class="scan-text">SCAN</h2>

    <button (click)="scanQR()">Start Scan</button>

   

  </div>

  <div *ngIf="scanResult" class="success-message">
    <p *ngIf="scanResult">Result: {{ scanResult }}</p>
    <button (click)="scanQR()">Rescan</button>
  </div>

</div>